.document{
    justify-content: center;
    align-items: center;
    position: relative;

    a{
        top: 0;
        left: 0;
        width: 150px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 200px;
        z-index: 1;
        position: absolute;
    }
}
.folder{
    justify-content: center;
    
    .folderIcon{
        font-size: 9em;
    }
}