$color1: #1d1b24;
$color2: #bcdef8;
$color3: rgb(29, 93, 105);

$breakPoint: 720px;

@keyframes showA {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

%showAnim{
    animation: .3s showA;
}