@import "../../variables";
$window_opacity: 0.166;
.Window_{
    background-color: $color1;
    box-shadow: 0 4px 10px 3px black;
    height: 100%;
    color: white;
    border-radius: 10px;
    letter-spacing: 0.04em;
}

.News{
    height: 100%;
    display: flex;
    flex-direction: column;
    .MessBox{
        margin: 0 20px;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
}

.Fview{
    width: clamp(200px, 100%, 1200px);
    min-height: 50vh;
    max-height: 75vh;
    .NewsBox{
        flex: 1;
        height: 75vh;
    }
}

