.MainView{
    display: flex;
    flex-direction: column;
    div{
        &:first-child{
            flex: 1;
            min-height: 10svh;
        }
        &:nth-child(2){
            flex: 5;
            min-height: 80svh;
        }

        &:last-child{
            min-height: 10svh;
        }
    }
}